<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'posts/favicon.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>V-Zone</title>
</head>
<body>
    <style>
        html, body {
    max-width: 100%;
    overflow-x: hidden;
        }
        a{
            text-decoration: none;
            color: grey;
            font-weight: bold;
        }
        a:hover{
            color: rgb(182, 182, 182);
        }
        .xyz{
                width: 500px;
                height: 600px;
                object-fit: cover;
                object-position: center;
        }
    .xyz:hover{
      transform: rotate(1deg);
    }
    .one{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
    </style>
    <header>
        <nav class="navbar navbar-expand-sm fixed-top" style="background-color: rgb(0, 0, 0);">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                            <p class="h2 text-white"><img class="rounded" src="{% static 'posts/favicon.ico' %}" width="80px" height="50px"> Zone (Beta version)</p>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto"></ul>
                    <div class="nav-item">
                        <button onclick="window.location.href='signin.html'" type="button" class="btn btn-outline-danger btn-lg">Sign in</button>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <main class="pt-5 grid-margin">
        <div class="pt-3">
            <div class="alert alert-dismissible mx-auto d-block">
                <img class="img-fluid pt-5 pb-3 mx-auto d-block" style="border: solid 1px black;" src="{% static 'posts/newad.png' %}" alt="New York">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>

        <!--Start of corousel-->
        
        <div class="row pt-5">
            <div class="col-lg-7 mx-auto d-block">
              <h1></h1>
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="4000">
                        {% for post in posts %}
                        <img src="{{post.image.url}}" class="d-block w-100 xyz" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <a href="{% url 'post:details' post.id %}"><h5>{{post.title}}</h5></a>
                          <p>{{post.description|truncatechars:120}}</p>
                        </div>
                      </div>
                        {% endfor %}
                      <div class="carousel-item" data-bs-interval="4000">
                        {% for sec in second %}
                        <img src="{{sec.image.url}}" class="d-block w-100 xyz" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <a href="{% url 'post:details' sec.id %}"><h5>{{sec.title}}</h5></a>
                          <p>{{sec.description|truncatechars:120}}</p>
                        </div>
                        {% endfor %}
                      </div>
                      <div class="carousel-item">
                        {% for thi in third %}
                        <img src="{{thi.image.url}}" class="d-block w-100 xyz" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <a href="{% url 'post:details' thi.id %}"><h5>{{thi.title}}</h5></a>
                          <p>{{thi.description|truncatechars:120}}</p>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  </div>

            <!--end of corosel-->

            <div class="col-lg-4 pt-5">
              <div class="row">
                <h3>Our Trending News</h3>
                {% for thi in trend1 %}
                <div class="col-sm-6">
                  <div class="py-3 border-bottom">
                    <div class="d-flex align-items-center pb-2">
                      <img
                        src="{{thi.image.url}}"
                        class="img-xs img-rounded mr-2"
                        alt="thumb"
                        width="150px"
                        height="100px"
                      />
                    </div>
                    <p class="fs-14 m-0 font-weight-medium line-height-sm">
                        <a href="{% url 'post:details' thi.id %}"><h5>{{thi.title}}</h5></a>
                    </p>
                  </div>
                </div>
                {% endfor %}
                <div class="row">
                    {% for the in trend2 %}
                    <div class="col-sm-6">
                      <div class="py-3 border-bottom">
                        <div class="d-flex align-items-center pb-2">
                          <img
                            src="{{the.image.url}}"
                            class="img-xs img-rounded mr-2"
                            alt="thumb"
                            width="150px"
                            height="100px"
                          />
                        </div>
                        <p class="fs-14 m-0 font-weight-medium line-height-sm">
                            <a href="{% url 'post:details' the.id %}"><h5>{{the.title}}</h5></a>
                        </p>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        {% for thu in trend3 %}
                        <div class="col-sm-6">
                          <div class="py-3 border-bottom">
                            <div class="d-flex align-items-center pb-2">
                              <img
                                src="{{thu.image.url}}"
                                class="img-xs img-rounded mr-2"
                                alt="thumb"
                                width="150px"
                                height="100px"
                              />
                            </div>
                            <p class="fs-14 m-0 font-weight-medium line-height-sm">
                                <a href="{% url 'post:details' thu.id %}"><h5>{{thu.title}}</h5></a>
                            </p>
                          </div>
                        </div>
                        {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!--Next card-->
    <div class="row one" data-aos="fade-up">
      <div class="col-sm-11 grid-margin one">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="card-title">
                 Our Latest Youtube Videos
                </div>
                <div class="row">
                  <div class="col-sm-6 grid-margin">
                    <div class="position-relative">
                      <div class="rotate-img">
                        <video class="video-fluid" width="270px" height="200px" controls>
                          <source src="untitled.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                        <div class="card-title">
                          Headline
                         </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 grid-margin pt-1">
                    <div class="position-relative">
                      <div class="rotate-img">
                        <video class="video-fluid" width="270px" height="200px" controls>
                          <source src="untitled.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                        <div class="card-title">
                          Headline
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-sm-6 grid-margin">
                    <div class="position-relative">
                      <video class="video-fluid" width="270px" height="200px" controls>
                        <source src="untitled.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                      </video>
                      <div class="card-title">
                        Headline
                       </div>
                    </div>
                  </div>

                  <div class="col-sm-6 grid-margin">
                    <div class="position-relative">
                      <div class="rotate-img">
                        <video class="video-fluid" width="270px" height="200px" controls>
                          <source src="untitled.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                        <div class="card-title">
                          Headline
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 pt-4">
                {% for ne in newly %}
                <div class="d-flex justify-content-between align-items-center border-bottom pb-2 pt-5">
                  <div class="div-w-80 mr-3 pt-1">
                    <div class="rotate-img">
                      <img
                        src="{{ne.image.url}}"
                        alt="thumb"
                        class="img-fluid"
                        height="100px"
                        width="100px"
                      />
                    </div>
                  </div>
                  <h4 class="font-weight-600 mb-0">
                    <a href="{% url 'post:details' ne.id %}"><h5>{{ne.title}}</h5></a>
                  </h4>
                  
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>

    <!--Next card-->

    <div class="col-lg-9 stretch-card grid-margin pt-4 pb-5 one">
      <div class="card">
        <div class="card-body">
        {% for la in last %}
          <div class="row pt-5">
            <div class="col-sm-4 grid-margin pt-2">
              <div class="position-relative">
                <div class="rotate-img">
                  <img
                    src="{{la.image.url}}"
                    alt="thumb"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin pt-5">
              <h2 class="mb-2 font-weight-600">
                <a href="{% url 'post:details' la.id %}"><h5>{{la.title}}</h5></a>
              </h2>
              <div class="fs-13 mb-2">
                <span class="mr-2">Photo </span>{{la.date}}
              </div>
              <p class="mb-0">
                {{la.description|truncatechars:150}}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
    </main>
    <footer class="py-4 mt-auto" style="background-color: rgb(0, 0, 0);">
        <div class="container px-4">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white" style="font-size: 15px;">Copyright &copy; Vzone Chennai</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>


